.header h4 {
	font-family: 'lato';
	font-size: 34px;
	color: #1c97e6;
}
@media (min-width: 970px) {
	body {
                
	}
	.container {
		width:970px;
	}
	.col-md-4, .col-md-8 {
		border:1px solid black;
	}
	.header-bg {
		height:550px;
		background: url("/assets/images/Background_1600x900px.jpg");                
		background-size:970px;
		background-position:top left;
		background-repeat:repeat-x;
	}
	.header {
                margin-top:134px;
		margin-bottom:100px;
	}
	.header-logo {
		width:220px;
		height:230px;
		background:url("/assets/images/MiniMesos_Logo.png") no-repeat;
		background-size:220px;
	}
	.instructions {
		
	}
}
