.header h4 {
	font-family: 'Lato';
	font-size: 34px;
	color: #1c97e6;
}
.github {
	width:60px;
	height:80px;
	background-image: url("/assets/images/GitHUB_Button_96x109px.png");
	background-repeat:no-repeat;
	background-size:100%;
	right:170px;
	top:20px;
}
.infographic {
	background-image: url("/assets/images/Infographic_574x433.png");
	background-position:top right;
	width:600px;
	/* border:1px solid black; */
	height:500px;
	background-repeat:no-repeat;
	background-size:80%;
	margin-top:10px;
}
.infographic-pane {
	margin-top:30px;
}
.infographic-pane ul {
	list-style-image: url("/assets/images/Blue_Arrow.png");
}
.infographic-pane ul li {
        font-family:'Lato';
	font-weight:300;
	font-size:20px;
	margin-bottom:7px;
}

.instructions {
	background-image: url("/assets/images/Background_Snippet_1600x1132px.jpg");
	background-position:top left;
	background-repeat:no-repeat;
	background-size:970px;
	height:700px;
}


.nav-tabs {
	border-bottom:3px solid #4E899A;
}
.nav-pane {
	width:500px;
	margin-top:20px;
}

.tab-content{
        padding:5px
}
.nav-tabs > li > a {
	border: medium none;
        padding:3px 15px 3px 15px;
	color: #048a9b;
}
.nav-tabs > li > a:hover{
	background-color: #4E899A !important;
	border: medium none;
	border-radius: 2;
	color:#fff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
	background-color: #4E899A !important;
	color:#fff;
	border:none;
}

@media (min-width: 970px) {
	body {
                
	}
	.container {
		width:970px;
	}
	.col-md-4, .col-md-8 {
                
	}
	.header-bg {
		height:550px;
		background: url("/assets/images/Background_1600x900px.jpg");                
		background-size:970px;
		background-position:top left;
		background-repeat:repeat-x;
	}
	.header {
                margin-top:134px;
		margin-bottom:100px;
	}
	.header-logo {
		width:220px;
		height:230px;
		background:url("/assets/images/MiniMesos_Logo.png") no-repeat;
		background-size:220px;
	}
        
	.instructions {
		
	}
}
