<!DOCTYPE html>
<html lang="en">
    {{partial "head.html" . }}
    <body>
        
	<div class="container">
           
	    {{ partial "header.html" .}}
	    {{ partial "menu.html" .}}
	    <div class="content">
                
		<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
		<div class="meta">{{ .Date.Format .Site.Params.DateForm }}</div>
		<!-- {{ partial "page-heading.html" . }} -->
		<div class="markdown">
		    {{ .Content }}
		</div>
	    </div>
	</div>
        
	{{partial "footer.html" . }}
    </body>
</html>

