{{ $mmRelease := getJSON "https://api.github.com/repos/containersolutions/minimesos/releases" }}
{{ $latestRelease := index $mmRelease 0 }}


<div class="download-area center-block">
    <div class="download-content">
	<code>curl -sSL https://minimesos.org/install | sh</code>
    </div>
    <span>Documentation: <a href="http://minimesos.readthedocs.org/en/{{ index $latestRelease "tag_name" }}">{{ index $latestRelease "tag_name" }}</a> | <a href="http://minimesos.readthedocs.org/en/latest">latest</a></span>
</div>
