{{ $latestRelease := $.Scratch.Get "LatestRelease"}}

<h3>Step 1. Add the JitPack repository to your gradle build file:</h3>
<div class="instructions-content">
    <code>
 repositories {<br/>
 &nbsp;&nbsp;// ...<br/>
 &nbsp;&nbsp;maven { url "https://jitpack.io" }<br/>
 &nbsp;}
    </code>
</div>
<h3>Step 2. Add the dependency in the form:</h3>
<div class="instructions-content">
    <code>
 dependencies {<br/>
 &nbsp;&nbsp;compile 'com.github.ContainerSolutions.minimesos:minimesos:{{ index $latestRelease "tag_name" }}'<br/>
 &nbsp;}
    </code>
</div>
<h3>Step 3. Add a @ClassRule in your tests to start and destroy your Mesos test cluster</h3>
<div class="instructions-content">
    <code>
@ClassRule<br/>
public static final MesosClusterTestRule RULE =<br/>
&nbsp;&nbsp;MesosClusterTestRule.fromFile("src/test/resources/testMinimesosFile");<br/>
<br/>
public static final MesosCluster CLUSTER = RULE.getMesosCluster();<br/>
    </code>
</div>
