{{ $latestRelease := $.Scratch.Get "LatestRelease"}}

<h3>Step 1. Add the JitPack repository to your maven POM file:</h3>
<div class="instructions-content">
    <code>
								&lt;repository&gt;<br/>
&nbsp;&nbsp;&lt;id&gt;jitpack.io&lt;/id&gt;<br/>
&nbsp;&nbsp;&lt;url&gt;https://jitpack.io&lt;/url&gt; <br/>&lt;/repository&gt;
    </code>
</div>
<h3>Step 2. Add the dependency in the form:</h3>
<div class="instructions-content">
    <code>
								&lt;dependency&gt;<br/>
&nbsp;&nbsp;&lt;groupId&gt;com.github.ContainerSolutions&lt;/groupId&gt; <br/>
&nbsp;&nbsp;&lt;artifactId&gt;minimesos&lt;/artifactId&gt;<br/>
&nbsp;&nbsp;&lt;version&gt;{{ index $latestRelease "tag_name" }}&lt;/version&gt; <br/>
&lt;/dependency&gt;
    </code>
</div>
<h3>Step 3. Add a @ClassRule in your tests to start and destroy your Mesos test cluster</h3>
<div class="instructions-content">
    <code>
        @ClassRule<br/>
        public static final MesosClusterTestRule RULE =<br/>
        &nbsp;&nbsp;MesosClusterTestRule.fromFile("src/test/resources/discoverySystemTest");<br/>
        <br/>
        public static final MesosCluster CLUSTER = RULE.getMesosCluster();<br/>
    </code>
</div>
