<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" .}}
    <body>
        
	<div class="container">
	    {{partial "header.html" . }}
	    {{ partial "menu.html" .}}
            <div style="clear:left;"></div>
	    <div class="row infographic-pane">
		<div class="col-xs-12 col-sm-6 col-md-8">
		    <div class="infographic"></div>
		    
		</div>
		<div class="col-xs-6 col-md-4">
		    <ul>
			<li>Vagrant-like workflow for quickly starting Apache Mesos</li>	 
			<li>Java API for Test Driven Development</li>
			<li>Add a minimesos JUnit <b>@ClassRule</b> to start containerized Mesos cluster</li>
			<li>Start the scheduler of your framework</li>
			<li>Perform assertions on the cluster state via minimesos API</li>
			<li>After the test is done the cluster is destroyed</li>
		    </ul>

		</div>	

	    </div>
	    <div class="instructions row">
		<div class="nav-pane center-block">
		    <!-- Nav tabs -->
		    <ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
			    <a href="#demo" aria-controls="home" role="tab" data-toggle="tab">Demo</a>
			</li>
			<li role="presentation">
			    <a href="#gradle" aria-controls="home" role="tab" data-toggle="tab">Gradle</a>
			</li>
			<li role="presentation">
			    <a href="#maven" aria-controls="profile" role="tab" data-toggle="tab">Maven</a>
			</li>
		    </ul>

		    <!-- Tab panes -->
		    <div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="demo">
			    <script type="text/javascript" src="https://asciinema.org/a/ckc6tesc06lf8rf7zrxuzfn5w.js" id="asciicast-ckc6tesc06lf8rf7zrxuzfn5w" async></script>
			</div>
			<div role="tabpanel" class="tab-pane" id="gradle">
			    {{ partial "gradle_snippets.html" . }}
			</div>
			<div role="tabpanel" class="tab-pane" id="maven">
			    {{ partial "maven_snippets.html" . }}
			</div>
		    </div>

		</div>
	    </div>
	    <div class="row facts">
		<div class="col-xs-6 col-sm-4 ">
		    <div class="text-center">
			<img src="/images/Icon_Simple_146x167px.png"></img>
			<h3>SIMPLE</h3>
			<p>Start a Mesos cluster on the command line or via Java API.</p>
		    </div>
		</div>
		<div class="col-xs-6 col-sm-4">
		    <div class="text-center">
			<img src="/images/Icon_Isolated_146x167px.png"></img>
			<h3>ISOLATED</h3>
			<p>Mesos master, agent and Zookeeper processes run in separate Docker containers.</p>
		    </div>
		</div>
		<div class="col-xs-6 col-sm-4">
		    <div class="text-center">
			<img src="/images/Icon_Integrated_146x167px.png"></img>
			<h3>INTEGRATED</h3>
			<p>minimesos exposes framework, state and task information to its Cluster State API.</p>
		    </div>
		</div>
	    </div>
	    <div class="row download">
		{{ partial "download.html" .}}
		
	    </div>
	    {{partial "footer.html" .}}
	</div>
    </body>
</html>
