body {
    font-family: 'Lato';
    font-weight: 300;
    background: url("/images/Background_1600x900px.jpg") top center no-repeat;
}

.header-bg {
    
}
.header {

}
.header-logo {

}

.header h4 {
    font-size: 34px;
    color: #1c97e6;
}
.github {
    position:absolute;
    width:60px;
    height:60px;
}

.github img {
    width: 20px;
}

.infographic {
    background-image: url("/images/Infographic_574x433.png");
    background-position:top right;
    background-repeat:no-repeat;
    /* background-size:80%; */
    margin-top:10px;
}
.infographic-pane {
    margin-top:30px;
}

.infographic-pane ul {
    list-style-image: url("/images/Blue_Arrow.png");
}

.infographic-pane ul li {
    font-weight:300;
    font-size:20px;
    margin-bottom:7px;
}

.instructions {
    background-image: url("/images/Background_Snippet_1600x1132px.jpg");
    background-position:top left;
    background-repeat:no-repeat;
    padding:60px;
}

.instructions-content {
    padding: 20px;
    background-color: #333333;
    border: 4px #048a9b;
    border-radius: 4px;
}

.instructions-content code {
    color:white;
    background-color: #333333;       
}


.nav-tabs {
    border-bottom:3px solid #4E899A;
}
.instructions .tab-content h3 {
    font-size: 15px;
}
.instructions .nav-pane {
    width:600px;
    
}

.instructions .nav-tabs > li > a {
    border: medium none;
    padding:3px 15px 3px 15px;
    color: #048a9b;
}

.instructions .nav-tabs > li > a:hover{
    background-color: #4E899A !important;
    border: medium none;
    border-radius: 2;
    color:#fff;
}
.instructions .nav-tabs > li.active > a,
.instructions .nav-tabs > li.active > a:focus,
.instructions .nav-tabs > li.active > a:hover{
    background-color: #4E899A !important;
    color:#fff;
    border:none;
}

.facts {
    margin:60px 0 60px;
}
.facts h3 {
    font-weight:900;
    font-size:24px;
    color:#4c4c4c;
}
.facts p {
    font-size:20px;
}

.download {
    background-image:url("/images/Download_Background_1600x345px.jpg");
    background-size:970px;
    background-repeat:no-repeat;
    background-position:top left;
}


.download .download-area {

    margin:50px;

}

.download-area span {
    font-weight:400;
    font-size:15px;
    color: #f6f6f6;
}

.download-area span a {
    color: #f6f6f6;
    font-weight:700;
    text-decoration: underline;
    
}

.download-content {
    /* background-color: #333333; */
    border: 4px #048a9b;
    border-radius: 4px;
    text-align:center;
}

.download-content code {
    color:white;
    background-color: #333333;
    width:100%;
    white-space:nowrap;
    
}

.footer {
    background-color:#4c4c4c;
    padding:20px;
}

.footer img {
    margin:10px;
}

@media (min-width: 768px) and (max-width : 991px) {
    .container {
	width:768px;
    }

    .header-bg {
	height:730px;	
        background-size:768px;
        
    }
    .header {
        margin-top:100px;               
    }
    .header-logo {
	width:175px;
	height:450px;
	background-size:175px;		
    }

    .header-bg .header h4 {
        /* margin-left:25%;
                   width:50%; */
	font-size:25px;
    }
    .github {
	right:10px;
	top:-80px;
    }

    .github img {
	width: 40px;
    }

    .infographic {
        /* width:320px; */
	background-size:350px;
	height:350px;               
	margin-top:10px;
    }
    .infographic-pane {
	margin-top:30px;
	margin-bottom:60px;
	
    }
    .infographic-pane ul {
	width:300px;
        
    }
    .infographic-pane ul li {
        font-size:18px;
    }

    .instructions {
        background-size:768px;                
        background-repeat:repeat-y;
    }

    .instructions-content {
        
    }

    .instructions-content code {
        font-size:12px;
    }


    .nav-tabs {
        
    }
    .instructions .tab-content h3 {
        
    }
    .instructions .nav-pane {
	width:600px;
	
    }

    .instructions .nav-tabs > li > a {
        
    }

    .instructions .nav-tabs > li > a:hover{
        
    }
    .instructions .nav-tabs > li.active > a,
    .instructions .nav-tabs > li.active > a:focus,
    .instructions .nav-tabs > li.active > a:hover{
        
    }

    .facts  {
        
    }
    .facts h3 {
        
    }
    .facts p {
        
    }

    .download {               
	background-size:768px;              
	/* padding:20px; */
	
    }

    .download .download-area {                
        background-size:500px;
	margin:20px 10px 20px 10px;
    }

    .download-area span {
        font-size:12px;
	margin-left:7px;
    }

    .download-content {
	margin-bottom:10px;
    }

    .download-content code {
	padding:10px;
    }

    .footer {
        
    }

    .footer img {
        
    }


}
@media (min-width: 992px) {
    .container {
	width:970px;
    }

    .github {
	right:-200px;
	top:-300px;		
    }

    .github img {
	width:70px;
    }
    
    .header {
	margin-top:320px;
	margin-bottom:100px;
    }
    
    .header-logo {
	width:220px;
	height:230px;
	background-size:220px;
    }
    
    .header-bg {
	height:730px;	
        background-size:970px;                
    }

    .infographic {
	/* width:500px; */
	background-size:100%;
	height:520px;
    }
    
    .instructions {
	background-size:970px;
    }

    .download .download-area {
	width:992;
    }

    .download-content {
	width:100%;
	margin-bottom:10px;
        
    }
    .download-content code {
	font-size:15px;
	padding:10px;
	
    }
}


@media (min-width: 320px) and (max-width : 768px) {
    body {
	background-size:320px;
    }
    .container {
	width:320px;
    }

    .header {
	margin-top:45px;
	margin-bottom:100px;
    }
    
    .header-logo {
	width:70px;
	height:50px;
	background-size:70px;
    }

    .github {
	right:0px;
	top:-30px;
    }

    .github img {
	width: 30px;
    }
    
    .header-bg {
	height:110px; 
        background-size:320px;
    }

    .header-bg .header h4 {
	font-size:10px;
    }
    
    .infographic {
        width:300px;
	background-size:100%;
	height:250px;
    }

    .infographic-pane ul {                
	width:300px;
    }

    .infographic-pane ul li {
	font-weight:300;
	font-size:15px;
	margin-bottom:7px;
    }
    
    .instructions {
	background-size:320px;
	background-repeat:repeat-y;
    }
    
    .instructions .nav-pane {
	width:230px;
	
    }
    
    .instructions .nav-tabs, .instructions .tab-content h3, .instructions-content {
	width:200px;
    }

    .facts .col-xs-6 {
	width:300px;
    }

    .download {
        
    }
    
    .download .download-area {
	width:300px;
	margin:10px;                
	background-size:320px;
    }

    .download-content {
	padding:5px 5px 5px 5px;
	font-size:10px;
	/* width:100px; */
/* margin:10px 10px 10px 100px;
		   width:200px; */
    }

    .download-content code {
        white-space:normal;
    }
    .download-area span {
	margin-left:7px;
	font-size:10px;
    }
}

